.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.input-and-close{
  display: inline;
  position: relative;
}
.ex{
  display: inline;
  position: absolute;
  right: 5px;
  z-index: 2;
  top: 0px;
}
.country-list{
  z-index: 2;
}
.Welcometab{
  margin-top: 20px;
}
.Welcometab img{
  max-width: 50px;
  max-height: 50px;
}
.input-credit{
  width: 300px;
  margin: auto;
}
.input-credit input{
  width: 300px;
  margin: auto;
  padding: 5px;
  margin-bottom: 5px;
}
.login-button{
  padding: 4px 10px;
  background: deepskyblue;
  border: none;
  float: right;
  border-radius: 3px;
  color: white;
  margin-right: -14px;
}
.bold-welcome p{
  font-weight: bold;
}
.logo-welcome{
  display: inline-block;
  margin-left: 5px;
}
.logo-welcome-home{
  display: inline-block;
}
.input-and-close{
  vertical-align: top;
}
.auto-complete{
  float: left;
  display: block;
  margin: 15px;
}
.input-and-close{
  margin-left: 10px;
}
.auto-n-count{
  float: left;
}
.autoc-input{
  padding: 17px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
